@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&family=Varela+Round&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::selection {
  background: #775ca6;
  color: #fff;
}
.container {
  max-width: 1240px;
  margin: auto;
}

@import "./headerfooter/header";
@import "./headerfooter/footer";
@import "./aside";
@import "./calltoaction";
