.page{
     &__page__additional__inner{
    display: flex;
    justify-content: space-between;
    width: 230px;
    height: 17px;
    top: 131px;
    left: 100px;
    position: absolute;
    color: #616161;
}}