.page {
    &__application {
        &__item{
            &__inner{
                &__link{
                    display: flex;
                    justify-content: space-between;
                }
            }
        }

    }
}

.h2{
    font-weight: bold;
}

&__txt__descrip{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding-bottom: 50px;
}