$color__blue: #E3ECFF;
$color__light-blue: #CFFFFD;
$color__yellow: #FFEFAB;
$color__pink: #FFEBF9;
$color__violet: #775CA6;
$color__black: #000000;
$color__white: #FFFFFF;



// legal-entities page (юр. лица)

.legal-entities {
    
    &__inner {
        
        &__title {
            font-family: Rubik, sans-serif;
            font-size: 40px;
            font-weight: 700;
            font-style: normal;
            margin-top: 67px;
            color: $color__black;

            &__descr {
                font-family: Rubik;
                font-style: normal;font-weight: normal;
                font-size: 18px;
                line-height: 28px;
                margin-top: 33px;
                margin-bottom: 33px;
                color: $color__black;
            }
        }
    }
}

.cooperation-accord {
    background-color: $color__blue;
    padding-bottom: 58px;

    &__inner {

        &__title {
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 41px;
            margin-top: 63px;
            color: $color__black;
        }

        &__acc-blc {
            background-color: $color__white;
            margin-top: 24px;

            &__accordion {
                font-family: Inter;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 120%;
    
                //Style the buttons that are used to open and close the accordion panel
                color: $color__black;
                cursor: pointer;
                padding: 18px;
                width: 100%;
                text-align: left;
                border: none;
                outline: none;
                transition: 0.4s;
            }
    
            //Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover)
            &__active, &__accordion:hover {
                background-color: #ccc;
            }
    
            //Style the accordion panel. Note: hidden by default
            &__panel {
                padding: 20px;
                display: none;
                overflow: hidden;
            }
    
            &__txt {
                font-family: Inter;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 140%
    
            }
        }
    }
}

.cooperation-contact-info {
    
    &__inner {
        margin-top: 42px;

        &__txt {
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 28px
            $color__black
        }

        &__boldtxt {
            font-family: Rubik;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            margin-top: 40px;
        }

        &__img {
            margin: 60px 300px 120px 300px;
            border-radius: 15px;
        }
    }
}